/* src/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.App {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff7300;
  padding: 10px 20px;
}

.App__logo {
  height: 50px;
}

.App__nav {
  display: flex;
}

.App__nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.App__nav-item {
  color: white;
  cursor: pointer;
}

.content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.player-table {
  margin: 20px 0;
  max-width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-bar {
  margin-bottom: 10px;
  padding: 10px;
  width: calc(100% - 20px);
}

.player-table__table {
  width: 100%;
  border-collapse: collapse;
}

.player-table__header-row {
  background-color: #f2f2f2;
}

.player-table__header-cell, .player-table__cell {
  border: 1px solid #ddd;
  padding: 8px;
}

.even {
  background-color: lightgray;
}

.odd {
  background-color: white;
}

.buttons {
  margin-bottom: 10px;
}

.buttons__button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ff7300;
  color: white;
  border: none;
  border-radius: 3px;
}

.buttons__button:hover {
  background-color: #ff5700;
}
